$cor-primaria: #2c2b29;
$cor-secundaria: #95420b;

*{
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 1.8;
}
body {
  width: 100%;
}
p{
  margin: 0;
}
nav{
  z-index: 2;
  top: 0;
  background-color: rgba(63, 63, 63, 0.507);
  & a{
    font-size: 1em;
    color: white;

    &:hover{
      color: rgb(153, 255, 0);
    }
  }
}


.logo {
  height: 10vh;
}

.bg{
  &-1{
    width: 100%;
    height: 100vh;
    background-image: url('./imgs/bannerHipster.jpg') ;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ffffff;
    background-position: center;
  }
  &-2{
    background-color: #069499;
  }
 
}

.box{
  &-contanto {
    width: 80vw;
  }
  &-quemSou{
    height: 80vh;
  }

}

.img{
  &-whats > img{
    height: 5vh;
  }
  &-box > img {
    height: 50vh;
    width: 15vw;
  }
}

.quemSomos{
  width: 100vw;
  height: 100vh;
  background-image: url(./imgs/background-gray.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;


  & p{
    font-family: 'Kalam', cursive;
    font-size: 2em;
    left: -5rem;
  }

  & h3{
    font-family: 'Kalam', cursive;
    font-size: 3em;
  }

  & div{
    height: 97vh;
  }
}

.servicos{
  width: 100vw;
  height: 100vh;
  background-image: url(./imgs/servicos.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  

  & h3{
    font-family: 'Kalam', cursive;
    font-size: 4em;
    
  }

  & > div{
    height: 80vh;
  }

  & p{
    font-family: 'Kalam', cursive;
    font-size: 2em;
  }

  &-corte{
    background: url(./imgs/servicos-corte.jpg),rgba(0, 0, 0, 0.425);
    background-repeat: no-repeat, none;
    background-size: cover;
    transition: background 2s;
    &:hover{
      background:;
    }

  }

  & .box{
    // background: rgb(68, 68, 68);
    height: 40vh;
    width: 20%;
    // transition: background 2s;


    
  }
}

.portfolio{
  background-color: $cor-primaria;
  height: 100vh;

  & img{
    height: 80vh;
    width: auto;
  }
}

.carousel-control-prev{
  left: -3.5rem;
}

@media (max-width: 1024px) {
  nav{
    justify-content: space-between;
  }
 
  .logo{
    height: 10vh;
  }
  .box{
    &-contanto{
      width: 80vw;
    }
    &-quemSou{
      height: 30vh;
    }
    &-top{
      height: 50vh;
    }
  }
  .img{
    &-whats > img {
      width: 3vw; 
      height: 3vh;
      z-index: 0;
    }
    &-box > img {
      width: 50vw;
      height: 20vh;
    }
  }
}


@media (max-width: 500px) {
  nav{
    justify-content: space-between;
  }

  .bg{
    &-1{
      width: 100%;
      height: 60vh;
      background-size: 100% 60vh;
    }
 
  }
  .logo{
    height: 10vh;
  }
  .box{
    &-quemSou{
      height: 65vh;
    }
    &-top{
      height: 60vh;
      margin-top: 6rem;
    }
  }
  .img{
    &-whats > img {
      width: 7vw; 
      z-index: 0;
    }
    &-box > img {
      height: 40vh;

    }
  }
}